<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Spotifapi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>51940A3B1DC7A428005A207B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51940A521DC7A429005A207B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51940A5D1DC7A429005A207B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
